*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
	--color-accessory: #7585e2;
	--color-secondary: #ffffff;
	--color-header-bg: #2a5ee8;
	--color-primary: #23272a;
	--color-grey-bg: #f6f6f6;
}
body{
    background-color: var(--color-secondary);
}
.debug{
    border: 1px solid black;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 5px;
}
.d-flex{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}
ul{
    list-style: none;
}
a, a:hover{
    color: var(--color-secondary);
    display: block;
    padding: 6px 10px;
    text-decoration: none;
}

/* header */
header{
    background-color: var(--color-header-bg);
    color: white;
}


/* main */
main section{
    padding: 60px 0;
}
.even{
    background-color: var(--color-grey-bg);
}

/* footer */
footer{
    background-color: var(--color-primary);
    color: white;
}
