*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
	--color-accessory: #7585e2;
	--color-secondary: #ffffff;
	--color-header-bg: #2a5ee8;
	--color-primary: #23272a;
	--color-grey-bg: #f6f6f6;
    font-family: 'Noto Sans', sans-serif;
}
body{
    background-color: var(--color-secondary);
}
/* .debug{
    border: 1px solid black;
} */
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 5px;
}

ul{
    list-style: none;
}
a, a:hover{
    color: var(--color-secondary);
    display: block;
    padding: 10px 15px;
    text-decoration: none;
}
.button{
    margin: 15px;
    background-color: var(--color-secondary);
    border-radius: 25px;
    color: black;
}
.bg-primary{
    background-color: var(--color-primary);
    color: var(--color-secondary);
}

/* flex */
.d-flex{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}
.f-center{
    justify-content: center;
}
#hero .container{
    min-height: 500px;
}


/* header */
header{
    background-color: var(--color-header-bg);
    color: white;
}
#hero{
    background-image: url('../img/jumbo.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 -100px;
}
.hero-content{
    max-width: 800px;
}
h1{
    margin-bottom: 20px;
    font-size: 3em;
}
/* nav{
    margin-top: 30px;
} */

/* main */
main section{
    padding: 60px 0;
}
.even{
    background-color: var(--color-grey-bg);
}
.text-main{
    text-align:justify;
    max-width: 600px;
    flex-wrap: nowrap;
}
.image{
    max-width: 600px; 
}

/* footer */
footer{
    background-color: var(--color-primary);
    color: white;
}
.footer-top{
    justify-content: space-between;
    padding-top: 20px;
}
.footer-subtitle{
    color: var(--color-accessory);
    font-size: 2em;
}
.list-footer{
    flex-direction: column;
}
.list-title{
    color: var(--color-accessory);
}
h3{
    margin-top: 10px;
    align-content:start;
}